<a href="#" class="text-decoration-none">
  <div class="card movie-card shadow">
    <img src="https://image.tmdb.org/t/p/w500/53P8oHo9cfOsgb1cLxBi4pFY0ja.jpg" class="card-img-top" alt="Movie Poster">
    <i class="bi bi-three-dots more-icon"></i>
    <div class="rating-badge">85%</div>
    <div class="card-body">
      <h4 class="movie-title d-flex">The Good Doctor</h4>
      <div class="d-flex justify-content-between">
        <p class="movie-date">Sep 25, 2017</p>
        <i class="bi bi-heart-fill"></i>
      </div>
    </div>
  </div>
</a>
